R2_ACCOUNT_ID=your-account-id

R2_ACCESS_KEY_ID=your-access-key-id

R2_SECRET_ACCESS_KEY=your-secret-access-key

BUCKET_NAME=your-bucket-name

SUPABASE_URL=your-project-url

SUPABASE_KEY=service-role-key

FILE_BASE_URL=your-public-development-url